<h3>My books List</h3>

<hr />

<!-- Add New Book Button -->
<div class="d-flex justify-content-end mb-3">
    <a routerLink="/books/manage" class="btn btn-outline-primary">
        <i class="fas fa-plus"></i>&nbsp;New book
    </a>
</div>

<!-- Books List -->
<div class="d-flex justify-content-start gap-4 flex-wrap">
  <app-book-card
    *ngFor="let book of bookResponse.content"
    [book]="book"
    [manage]="true"
    (edit)="editBook($event)"
    (share)="shareBook($event)"
    (archive)="archiveBook($event)"
  ></app-book-card>
</div>

<!-- Pagination -->
<app-pagination />